<!DOCTYPE html>
<html lang="en">
    <head>
        <title>User Reviews</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-end">
                <ul class="list-unstyled d-inline-block">
                    <li><a href="/books">Home</a></li>
                    <li><a href="/books/new">Add Book and Review</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <div class="row">
                <!-- TODO -->
            </div>
        </div>
    
    </body>
</html>