<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Book and Review</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <header class="row my-3 justify-content-end">
                <ul class="list-inline d-inline-block">
                    <li class="list-inline-item"><a href="/books">Home</a></li>
                    <li class="list-inline-item"><a href="/logout">Logout</a></li>
                </ul>                
            </header>
            <h2>Add a New Book Title and a Review</h2>
            {% if messages %}
                <ul class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-danger" role="alert">{{message}}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <form action="/books/create_book" method="post" class="ml-3 col-8">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label" for="title">Book Title:</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Author:</label>
                    <div class="form-group ml-4">
                        <label for="author_list">Choose from the list</label>
                        <select id="author_list" name="author_list" class="form-control">
                            <option selected disabled>Choose...</option>
                            {% for i in ids_authors_list %}
                                <option>{{i.author}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group ml-4">
                        <label class="col-form-label" for="author_new">Or add a new Author</label>
                        <input type="text" class="form-control" id="author_new" name="author_new">
                    </div>
                </div>
                <div class="form-group">
                    <label for="review_text">Review:</label>
                    <textarea class="form-control" id="review_text" name="review_text" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <select class="form-control col-2" id="rating" name="rating">
                        <option>1</option>
                        <option>2</option>
                        <option selected>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-7"></div>
                    <button type="submit" class="btn btn-primary col">Add Book and Review</button>
                </div>
            </form>
        </div>
    
    </body>
</html>